.formularios h2 {
  font-size: 60px;
  margin-top: auto;
  color: black;
  font-size: 60px;
  text-align: center;
  padding-bottom: 25px;
  text-shadow: 15px 15px 5px #484892; }

.formularios input-group {
  padding: 45px; }
