.formularios h2 {
  font-size: 45px;
  margin-top: auto;
  color: black;
  font-size: 60px;
  text-align: center;
  padding-bottom: 25px;
  text-shadow: 15px 15px 5px #484892; }

body {
  background-image: url(../bahiaclean-goicochea/imagenes/vectoresceleste.webp);
  background: cover; }
