$tamanioTitulos:60px;
$estiloTitulo:15px 15px 5px rgb(72, 72, 146);
$colorFondo: rgb(154, 154, 237);
$padding:0;
$margin:0;

$tamanioTitle:(
    tituloh1:$tamanioTitulos,
    tituloh2:40px,
    tituloh3:25px,
);

%title-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
@mixin reseteo-css {

    padding: 0;
    
    margin: 0;
    
    }