
*{
  padding: 0;
  margin:0;
  body{background: rgb(75,156,222);
    background: linear-gradient(191deg, rgba(75,156,222,1) 39%, rgba(225,225,244,0.9925077450201378) 50%, rgba(149,139,231,1) 69%);
  navbar{
    background-image: url(../bahiaclean-goicochea/imagenes/vectoresceleste.webp);
    background: cover;
    background-color: $colorFondo;
  }
  
}
}
