.formularios h2{
    font-size:$tamanioTitulos;
    margin-top: auto;
    color: rgb(0, 0, 0);
   @extend %title-center;
    padding-bottom: 25px;
    text-shadow:$estiloTitulo;
}
@media (max-width:768px){
    .formularios h2{
        font-size: 50px;
    }
}





