.pieDePagina{
    background-color:rgba(36, 120, 255, 0.279);
    background-size: cover;
    border: 3px dotted rgb(255, 250, 250);
    width: 100%;
   .nav li{
        margin-right: 22px;
    }
}
    i{
        color:white
    }
    li a{
        color: white;
    }
    footer span{
        color:white;
    }