.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.col h1{
    color: rgb(0, 0, 0);
    font-size: map-get($tamanioTitle, tituloh1 );
    text-shadow:  15px 15px 5px rgb(72, 72, 146);
    padding-right: 50px;
    padding-bottom: 60px;
}
    
.imagen__chica{
    margin-bottom:5%;
    border-radius: 36px 36px 36px;
    border: dashed 5px rgb(171, 171, 232);
    width:650px;
    height: 500px;
}
.carousel-fade{
     border-top: double 6px rgb(128, 128, 214);
}

.rounded{
    margin-top: 80px;
    margin-bottom: 60px;
    border: dashed 6px rgb(207, 207, 233);
    width: 400px;
    height: 350px;
} 
